{
  "presets": [
    "react",
    ["env", {
      "modules": false
    }],
    "stage-0"
  ],
  "plugins": [
    [
      "emotion",
      {
        "hoist": true
      }
    ],
    "transform-runtime"
  ]
}