{
  "presets": [
    "react",
    ["env", {
      "modules": false
    }],
    "stage-0"
  ],
  "plugins": [
    [
      "external-helpers",
      "babel-plugin-styled-components",
      "transform-runtime"
    ]
  ]
}