{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
        "browser": true,
        "es6": true
    },
    "globals": {
        "BULMA_VARS_EXTEND": true,
        "BULMA_VARS": true
    },
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module",
        "ecmaFeatures": {
            "impliedStrict": true,
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "curly": [2, "multi-line", "consistent"],
        "camelcase": 0,
        "indent": [
            "error",
            2
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "never"
        ],
        "dot-notation": 0,
        "import/prefer-default-export": 0,
        "no-underscore-dangle": 0,
        "react/jsx-filename-extension": 0,
        "react/prop-types": 0
    }
}